        <ul id="kaTop">
            <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
            <li><a class="top" id="top" href="javascript:void(0);"></a></li>
        </ul>

        <section class="w1200 join_wrap">
            <div class="join_title_wrap">
                <h2>JOIN</h2>
            </div>

            <!-- 1006 session test -->
            <!-- <form method="post">
                <ul>
                    <li>
                        <label>아이디*</label>
                        <input type="text" name="userId" required>
                    </li>
                    <li>
                        <label>비밀번호*</label>
                        <input type="password" name="userPassword" required>
                    </li>
                    <li>
                        <label>이름*</label>
                        <input type="text" name="userName" required>
                    </li>
                    <li>
                        <label>연락처*</label>
                        <input type="text" id="phoneNum" name="userPhoneNum" maxlength="13" required>
                    </li>
                    <li>
                        <label>이메일</label>
                        <input type="text" class="text" name="userEmail">
                    </li>
                    <li>
                        <label>우편번호(클릭시 주소 검색창 활성화)</label>
                        <input id="member_post" type="text" class="text" name="userZonecode" readonly onclick="findAddr()">
                    </li>
                    <li>
                        <label>주소(클릭시 주소 검색창 활성화)</label>
                        <input id="member_addr" type="text" class="text" name="userAddress" readonly onclick="findAddr()">
                    </li>
                    <li>
                        <label>주소상세</label>
                        <input type="text" class="text" name="userAddressSub">
                    </li>
                </ul>
                <input type="submit" value="회원가입">
            </form> -->


            <form method="POST" id='form-container'>

                <h5 class="info_line">REQUIRED INFORMATION</h5>  

                <fieldset>
                <label> 아이디<span>*</span> </label>
                <!-- <input type="text" name="userId" required> -->
                <input type="text"  name="userId" id='username' placeholder="아이디를 입력해주세요." required>
                </fieldset>

                <fieldset>
                <label> 비밀번호<span>*</span> </label>
                <!-- <input type="password" name="userPassword" required> -->
                <input type="password"  name="userPassword" id='password' placeholder="비밀번호를 입력해주세요." required>
                
                </fieldset>

                <fieldset>
                    <label> 이메일 <span>*</span> </label>
                    <input type="text" class="text" name="userEmail" required>
                </fieldset>

                


                <h5 class="info_line per_line">PERSONAL INFORMATION</h5>

                <fieldset>
                <label>이름<span></span></label>
                <!-- <input type="text" name="userName" required> -->
                <input type="text" name="userName" id='name' placeholder="이름을 입력해주세요">
                </fieldset>

                <fieldset>
                    <label> 휴대폰번호<span class="blue">(010-0000-0000)</span> </label>
                    <input type="text" id="phoneNum" name="userPhoneNum" maxlength="13">    
                </fieldset>

                <fieldset class="post">
                <label>우편번호<span class="blue">(클릭시 주소 검색창 활성화)</span></label>
                <input id="member_post" type="text" class="text" name="userZonecode" readonly onclick="findAddr()">
                </fieldset>

                <fieldset>
                    <label>주소<span class="blue">(클릭시 주소 검색창 활성화)</span></label>
                    <input id="member_addr" type="text" class="text" name="userAddress" readonly onclick="findAddr()">
                </fieldset>

                <fieldset>
                    <label>상세주소<span></span></label>
                    <input type="text" class="text" name="userAddressSub">
                </fieldset>

            

                <div class="btn_join">
                    <input  id="subit-button" type="submit" value="회원가입">
                </div>
                    

                
            </form>
        </section>
  