        <ul id="kaTop">
            <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
            <li><a class="top" id="top" href="javascript:void(0);"></a></li>
        </ul>

        <section class="w1200">
            <div class="log_main_wrap">
                <h2>HEYNATURE</h2>
                <div class="form_wrap">

                    <form action="login" method="post">
                            <div class="id">
                                <input type="text" name='userId' class="id_box" id="userIdTest" placeholder="아이디" required>
                            </div>
                            <div class="pw">
                                <input type="password" name="userPassword" class="pw_box" id="userPwTest" placeholder="비밀번호" required>
                            </div>

                            <input type="submit" value="로그인" class="login_btn">
                    </form>
        
        
                    <ul class="find_page_con">
                        <li>
                            <a href="join">회원가입</a>
                        </li>
                    </ul>

                </div>

                <div class="mem_bene">
                    <img src="img/login_img.jpg">
                </div>

            </div>

            <!-- 비회원 주문조회 -->
            <section class="w1200">
                <div class="log_main_wrap" style="padding-top:20px !important;">
                    <h2>GUEST ORDER</h2>
                    <div class="form_wrap">
    
                        <form action="/guest_order" class="guest_login" method="post">
                                <div class="id">
                                    <input type="text" name='receiverName' class="id_box" placeholder="주문자명" required>
                                </div>
                                <div class="pw">
                                    <input type="text" name="ordernum" class="pw_box" placeholder="주문번호" required>
                                </div>
    
                               
                                <input type="submit" value="조회" class="login_btn">
                        </form> 
            
                        <ul class="find_page_con">
                            <li>
                                <a href="javascript:void(0);">주문번호를 잊으신 경우, 고객센터로 문의하여 주시기 바랍니다.</a>
                            </li>
                        </ul>
    
                    </div>
                    
                </div>
        </section>
     
