
<div style="padding:200px;"> 
    <form class="w1200" method="POST" action="/store2" enctype="multipart/form-data">
            <div class="review_write_title_wrap">
                <div class="review_write_title">
                    <img src="../img/product_icon-xxhdpi.png">
                    <span>상품 품질 리뷰</span>
                </div>
                <div class="review_write_title2">
                    <p>이 상품의 품질에 대해서 얼마나 만족하시나요?</p>
                </div>
            </div>
            
            <input type="hidden" name="prodnum" id="prodnum" value="<%=prodnum%>" />

            <div class="naming">
                <div>이름(userId)</div>
                <input type="text" id="username" name="username" value="<%=userId%>" readonly>
            </div>

            <!-- 주문내역 -->
            

            <div class="review_rating">
                <div class="review_rating_left">
                    <img src="<%=sql1_result.image%>" alt="(S3)업로드한 이미지 가져오기" />
                </div>
                <div class="review_rating_right">
                    <div class="review_rating_right_title"><%=sql1_result.name%></div>

                    <div class="starRev">
                        <span id="star11" class="starR on" onclick="star1()">별1</span>
                        <span id="star22" class="starR" onclick="star2()">별2</span>
                        <span id="star33" class="starR" onclick="star3()">별3</span>
                        <span id="star44" class="starR" onclick="star4()">별4</span>
                        <span id="star55" class="starR" onclick="star5()">별5</span>
                    </div>

                    <!-- 별점 -->
                    <input type="hidden" value="" name="starcount" id="starcount">

                </div>
            </div>
            <div class="review_writing">
                <div class="review_writing_left">상세리뷰</div>
                <div class="review_writing_right">
                    <div class="review_writing_content">
                        <textarea id="content" name="content" placeholder="상품 품질에 대한 고객님의 솔직한 리뷰를 남겨주세요."></textarea>
                    </div>
                </div>
            </div>
            <div class="review_attach">
                <div class="review_attach_left">사진첨부</div>
                <input type="file" class="re_file_btn" name="r_imgFile" style="padding-top:20px;height:25px;">
                <div class="ask_attach_file">
                    <div class="insert">
                    </div>
                </div>
            </div>
            <div class="review_btn">
                <button type="submit" class="submit_btn" onClick="this.style.visibility='hidden'">등록하기</button>
                <button type="button" class="cancel_btn" onclick="location.href='/login' ">취소하기</button>
            </div>
    </form>

</div>