<section style="padding:200px">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="imgFile">
        <input type="submit" value="S3에 보내기">
    </form>
</section>