.user_info_box{
    margin: 0 0 35px 0;
    padding: 20px 20px 20px 30px;
    border: 3px solid #eeeeee;
}
.logout_btn a{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    margin-right: 10px;
    float: right;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: rgb(61, 62, 63);
    padding: 0px 10px;
    border-radius: 4px;
    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 134, 146);
    border-image: initial;
}
.shopping-cart {
    width: 100%;
    /* height: 423px; */
    margin: 80px auto 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    /* box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10); */
    border-radius: 6px;
  
    display: flex;
    flex-direction: column;
  }
  
  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
  
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
  
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
  
  /* Buttons -  Delete and Like */
  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  
  .delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
    margin-right: 20px;
  }
  
  .like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    display: inline-block;
    background: url('https://designmodo.com/demo/shopping-cart/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
  
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
  
  /* Product Image */
  .or_image {
    margin-right: 50px;
  }
  
  /* Product Description */
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
  
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
  
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }
  
  /* Product Quantity */
  .quantity {
    padding-top: 25px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 40px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  
   .qt_btn {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
  button:focus,
  input:focus {
    outline:0;
  }
  
  /* Total Price */
  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
  .orderdate{
    width: auto;
    padding: 27px 40px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

@media only screen and (max-width: 1024px)
{
  .or_image {
    margin-right: 20px;
  }
  .description {
    margin-right: 20px;
  }
  .quantity {
    margin-right: 30px;
    width: 100px;
  }
  .orderdate {
    white-space: nowrap;
    padding: 27px 20px;
  }
  .total-price {
  width: 120px;
  }

}
  



  /* Responsive */
  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .or_image img {
      width: 50%;
    }
    .or_image,
    .quantity,
    .description,
    .orderdate {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }